services:
  movie-plex-frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=${VITE_API_URL:-http://127.0.0.1:8000/api/v1}
    ports:
      - "3000:80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
